# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/components/CountriesList.tsx
/src/components/Country.tsx
/src/hooks/useFetchCountries_wo_redux.tsx
/src/pages/Home/Home1.tsx
/src/pages/Countries/Countries.tsx
