/* .App-logo {
  height: 10vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  /* background-color: #97d9f4; */
  background-color: white;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}
.header__div{
  text-align: center;
  display:flex;
  align-items: flex-end;
  padding:0px 12px 0px 12px;
  
}
.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
